[submodule "roles/alvistack.ansible"]
	path = roles/alvistack.ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/alvistack.catatonit"]
	path = roles/alvistack.catatonit
	url = https://github.com/alvistack/ansible-role-catatonit.git
	branch = develop
[submodule "roles/alvistack.gosu"]
	path = roles/alvistack.gosu
	url = https://github.com/alvistack/ansible-role-gosu.git
	branch = develop
[submodule "roles/alvistack.locales"]
	path = roles/alvistack.locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/alvistack.mariadb"]
	path = roles/alvistack.mariadb
	url = https://github.com/alvistack/ansible-role-mariadb.git
	branch = develop
[submodule "roles/alvistack.python"]
	path = roles/alvistack.python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/alvistack.timezone"]
	path = roles/alvistack.timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
